sequence-namespace/src/main/resources/META-INF/msharp-sequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.ruijing.com/schema/msharp-sequence"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.ruijing.com/schema/msharp-sequence"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <!-- msharp id generator -->
    <xsd:element name="id-generator-client">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">

                    <xsd:attribute name="manager" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[manager]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="sequence" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[dbSequence]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- msharp id generator -->
    <xsd:element name="id-generator-service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">

                    <xsd:attribute name="manager" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[manager]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="sequence" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[dbSequence]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>
